

   /* ----------------------------    */
   /* Basic Setup    */
   /* -------------------- */
   *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    background-color: #ecf0f1;
    color: #555;
    font-family: 'Lato','sans-serif','Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;

}

.clearfix{ zoom: 1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}


/* ----------------------------    */
   /* GEneric link */
   /* -------------------- */


a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}






/* ----------------------------    */
   /* HEADER  */
   /* -------------------- */





header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    
    }
    
    
    .hero-text-box{
        position: absolute;
        width: 1140px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .logo{
        height: 100px;
        width: auto;
        float: left;
        margin-top: 20px;

    }

    .main-nav{
        float: right;
        list-style: none;
        margin-top: 50px;

    }
    .main-nav li{
        display: inline-block;
        margin-right: 50px;
    }

    .main-nav li a:link,
    .main-nav li a:visited
    
    {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
        padding: 8px 0;


    }

    .main-nav li a:hover,
    .main-nav li a:active{
        border-bottom: 2px solid #e67e22;
    }



    
/* ----------------------------    */
   /* Reusable Component  */
   /* -------------------- */

section{
    padding: 80px 0;
    margin-bottom: 0;
}

.box{
    padding: 1%;
}





.row{
    max-width: 1140px;
    margin: 0 auto 0 auto;

}

/*   Headings */
/*   Headings */

h1,h2,h3
{
    
    font-weight: 300;
    text-transform: uppercase;

}

h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 240%;
    color: #fff;
    word-spacing: 3px;
    letter-spacing: 1px;




}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;


}
h3{
    font-size: 110%;
    margin-bottom: 15px;

}


h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
     
}

/*   PARAGRAPHS */

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;

}
.box p{
    font-size: 90%;
    line-height: 145%;
}
/*   ICONS */

.icon-big{
    font-size: 300%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;

}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    margin-right: 10px;

    /* making text align with the icon */
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}




/*   Button */
/*   Button */

.btn:link,
.btn:visited
{
    display: inline-block;
    padding:10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin-right: 15px;
}

.btn-full:link,
.btn-full:visited{
    border: 1px solid #e67e22 ;
    background-color: #e67e22;
    color:#fff;

    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22 ;
    color: #e67e22;
    transition: background-color 0.2s , border 0.2s , color 0.2s;
}

.btn:hover,
.btn:active{
    background-color: #552d0a;


}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #e67e22 ;

    
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22 ;
    color: #fff;

}


/*   MEals */
/*   MEALS*/

.section-meals{
    padding: 0;
}

.meals-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;

}
/*    Here in the meal-photo we put the width 100% so that it can take all the width of 100% from its parent element in this case which is .meals-showcase li.
*/
.meal-photo {
    width:100%;
    margin:0;
    overflow: hidden;
    background-color: black;
}
/* Simillarly here also the width is set 100% so that it can take all the width of 100% from its parent element here .meal photo is the parent element of ,meal-photo img.Here also the transition property is set to the transform property sso we can see the animation effect after 0.5 s.

*/

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;

}

/*  Now to change the transform property while we hover over the image: Here while transforming the image back we get a small line below the image which can be removed by adding the transfrom property instead of 1 to 1.03

*/

.meal-photo img:hover{
   transform: scale(1.03);
   opacity: 1;
}


/*----------- HOW IT WORKS SECTION -------- */
/*------------------------------------------*/



.section-steps{
    background-color: #f4f4f4;
}
.section-steps h2{
    margin-bottom: 40px;
}



.steps-box:first-child{
text-align: right;
padding-right: 3%;
margin-top: 30px;


}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;

    
}

.app-screen {
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}


.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 5px;
    float: left;
    font-size: 150%;
    margin-right: 20px;
    
}

.btn-app img{
    margin-top: 20px;
    height: 50px;
    width: auto;
    margin-right: 10px;

}

.btn-app:link,
.btn-app:visited

{
    border-bottom: 1px solid transparent;

}




/*----------- CITIES-------- */
/*------------------------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}



/*----------- Testimonial------- */
/*------------------------------------------*/


.section-testimonial{
    background-image:linear-gradient(rgba(0, 0, 0, 0.801),rgba(0, 0, 0, 0.801)) ,url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;

}

blockquote{
    padding:2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

cite{
    font-size: 90%;
    margin-top: 20px;
    display: block;
}

blockquote::before{
    content: "“";
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;

}

/*----------- Sign up section------- */
/*------------------------------------------*/


.section-plan{
    background-color: #ecf0f1;
}
.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%;
    /* Now to make the content centre we have to give the margin of (100-width)  that is 10 % so setting only one margin either left or right will do this trick*/
    margin-left: 5%;

}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(241, 237, 237);

}
.plan-price{
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;


}
/* Here plan price span is the child of plan price so if we want to reduce the font size of child property we need to consider the parent. here parent has the font sizze 400% so if we specify 100% in the child it will take the whole 400% AS  a font size so we need to reduce it according to the parent element.


*/
.plan-price span{
    font-size: 20%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;

}
.plan-box ul{
list-style: none;

}

.plan-box ul li{
padding: 5px 0;
}

.plan-box div:last-child{
    text-align: center;
    border:none;
}
.plan-box div:first-child{
    background-color: rgb(216, 215, 215);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}

/*----------- FOOTER------- */
/*------------------------------------------*/


footer{
    background-color: #333;
    color: #555;
    padding-top: 40px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-links{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-links li
{
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child,
.footer-nav li:last-child{
    margin-right: 0 ;

}




.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border:0;
color: #888;
transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover,
.social-links li a:active,
.social-links li a:hover{
    text-decoration: none;
    border:0;
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 150%;
}
.facebook,
.insta,
.twitter,
.linked-in{
    transition: color 0.3s;
}

.facebook:hover,
.linked-in:hover{
    color: #3b5998;
}
.insta:hover{
    color:red;
}
.twitter:hover{
    color: #00aced;
}


footer p{
color: #888;
text-align: center;
margin-top: 30px;
margin-bottom: 60px;

}